XMLValidate/CustomerValidate.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">  <xs:simpleType name="integer-or-empty">    <xs:union memberTypes="xs:integer empty-string" />  </xs:simpleType>  <xs:simpleType name="empty-string">    <xs:restriction base="xs:string">      <xs:enumeration value="" />    </xs:restriction>  </xs:simpleType>  <xs:element name="Customers"/>  <xs:element name="Customer">    <xs:complexType>      <xs:all>        <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>        <xs:element name="Code" >          <xs:simpleType>            <xs:restriction base="xs:token">              <xs:minLength value="1"/>              <xs:whiteSpace value="collapse"/>            </xs:restriction>          </xs:simpleType>        </xs:element>        <xs:element name="TaxCode" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="Address" type="xs:string" minOccurs="1" maxOccurs="1"/>        <xs:element name="BankAccountName" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="BankName" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="BankNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="Email" type="xs:string" minOccurs="1" maxOccurs="1"/>        <xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="ContactPerson" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="RepresentPerson" type="xs:string" minOccurs="0" maxOccurs="1"/>        <xs:element name="CusType" type="integer-or-empty" minOccurs="1" maxOccurs="1"/>      </xs:all>    </xs:complexType>  </xs:element></xs:schema>